<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    
</body>

<footer class="footer">
<div class="footer-container">
    <h1>Redes:</h1>
    <p>Web diseñada por Jeremias Roschge</p>
    <p>Instagram: <a href="https://instagram.com/@jeremias.roschge3">@jeremias.roschge3</a> </p>
    <p>Twitter: No tengo</p>
</div>
</footer>

</html>