<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Linux</title>
</head>
<body>
    <%- include('./components/header.ejs') %>
<section> <!--Container-->
    <div class="body-container">
        <h1 class="main-title">Linux</h1>
        <h2 class="subtitle">En esta pagina hablaremos de: <table>
            <ul>
                <li><a href="/mac">Mac OS vs Linux y sus distribuciones</a></li>
                <li><a href="/win">Windows vs Linux y sus distribuciones</a></li>
                <li><a href="/distros">Hablaremos sobre algunas distribuciones</a></li>
            </ul>
        </table></h2>
        <h2 class="subtitle">Introduccion a Linux</h2>
        <h3 class="information">Linux es un sistema operativo gratuito/open source donde algunas empresas o personas pueden crear sus versiones de Linux denominadas distribuciones Linux. Algunas de estas distribuciones son especialmente conocidas por su uso en servidores de Internet,
         supercomputadoras, y sistemas embebidos;​ donde GNU/Linux tiene la cuota más importante de esos mercados. Según un informe de IDC, GNU/Linux es utilizado por el 78% de los principales 500 servidores del mundo.</h3>
    </div>
</section>
</body>
<%- include('./components/footer.ejs') -%>
</html>